spring:
  application:
    name: Flash Sales Demo App

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

  rabbitmq:
    host: localhost
    port: 5672
    username: rabbit
    password: rabbit

  data:
    redis:
      host: localhost
      port: 6379
      key-prefix: flash_cache_

app:
  settings:
    min-sale-duration-minutes: 5
