<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="uk.co.aosd.flash" level="DEBUG" />

    <logger name="org.hibernate.SQL" level="DEBUG" />
    <logger name="org.hibernate.orm.jdbc.bind" level="TRACE" />
    <logger name="org.hibernate.tool.schema" level="INFO" />

    <logger name="io.lettuce.core" level="INFO" />

    <logger name="org.springframework.web" level="INFO" />
    <logger name="org.springframework.test" level="DEBUG" />
    <logger name="org.springframework.transaction" level="DEBUG" />

    <logger name="org.testcontainers" level="INFO" />
    <logger name="com.github.dockerjava" level="WARN" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
